.fusionFullwidth{
    --awb-background-color: var(--full_width_bg_color);
    --awb-background-image: none;
    --awb-background-position: center center;
    --awb-background-size: auto;
    --awb-background-repeat: no-repeat;
    --awb-background-blend-mode: none;
    --awb-background-size: initial;
    --awb-box-shadow: none;
    --awb-border-sizes-top: var(--full_width_border_sizes_top);
    --awb-border-sizes-right: var(--full_width_border_sizes_right);
    --awb-border-sizes-bottom: var(--full_width_border_sizes_bottom);
    --awb-border-sizes-left: var(--full_width_border_sizes_left);
    --awb-border-color: var(--full_width_border_color);
    --awb-border-style: solid;
    --awb-border-radius-top-left: 0;
    --awb-border-radius-top-right: 0;
    --awb-border-radius-bottom-left: 0;
    --awb-border-radius-bottom-right: 0;
    --awb-padding-top: var(--container_padding_default_top, 0px);
    --awb-padding-right: var(--container_padding_default_right, 0px);
    --awb-padding-bottom: var(--container_padding_default_bottom, 0px);
    --awb-padding-left: var(--container_padding_default_left, 0px);
    --awb-margin-top: 0;
    --awb-margin-bottom: 0;
    --awb-min-height: 0;
    --awb-overflow: visible;
    --awb-z-index: auto;
    --awb-sticky-background-color: var(--awb-background-color);
    --awb-sticky-height: var(--awb-min-height);
    --awb-filter: none;
    --awb-filter-hover: none;
    --awb-filter-transition: all;
    background-color: var(--awb-background-color);
    background-image: var(--awb-background-image);
    background-position: var(--awb-background-position);
    background-repeat: var(--awb-background-repeat);
    background-blend-mode: var(--awb-background-blend-mode);
    background-size: var(--awb-background-size);
    box-shadow: var(--awb-box-shadow);
    border-width: var(--awb-border-sizes-top) var(--awb-border-sizes-right) var(--awb-border-sizes-bottom) var(--awb-border-sizes-left);
    border-color: var(--awb-border-color);
    border-style: var(--awb-border-style);
    border-radius: var(--awb-border-radius-top-left) var(--awb-border-radius-top-right) var(--awb-border-radius-bottom-right) var(--awb-border-radius-bottom-left);
    padding: var(--awb-padding-top) var(--awb-padding-right) var(--awb-padding-bottom) var(--awb-padding-left);
    margin-top: var(--awb-margin-top);
    margin-bottom: var(--awb-margin-bottom);
    min-height: var(--awb-min-height);
    overflow: var(--awb-overflow);
    z-index: var(--awb-z-index);
    filter: var(--awb-filter);
    transition: var(--awb-filter-transition);
}